<a href="https://colab.research.google.com/github/elArthurdGuTeS/cheatsheets/blob/master/challenge_xald.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Reto de XalDigital**

#PRIMERO

In [2]:
#Importar librerias usadas
import requests
import pandas as pd

In [3]:
#Llamando a la API con la libreria requests
url = 'https://api.stackexchange.com/2.2/search?order=desc&sort=activity&intitle=perl&site=stackoverflow'
response = requests.get(url).json()

In [ ]:
#Ver el contenido de la API en formato JSON
response['items']

In [5]:
#Creando el cuadro de datos 
df = pd.DataFrame(columns=["name","answer_count","views","old_answer","new_answer","reputation"])

In [6]:

#Buscando la informacion de cada persona mediante un loop
for person in response['items']:
  if person['owner']['user_type'] == 'registered':
    name = person['owner']['display_name']
    answer_count = person['answer_count']
    views = person['view_count']
    old_answer = person['creation_date']
    new_answer = person['last_activity_date']
    reputation = person['owner']['reputation']
    #imprimir resultados previos
    #print(answered)
    #print(views)
    #print(old_answer)
    #print(new_answer)
    #print(reputation)

    #Guardando los datos con la libreria pandas
    df = df.append({'name': name, 'answer_count': answer_count, 'views': views, 'old_answer': old_answer, 'new_answer': new_answer, 'reputation': reputation}, ignore_index=True)

In [ ]:
#imprimir resultados previos
df

In [8]:
#Buscando personas con respuestas contestadas
answered = df[df['answer_count'] > 4]
answered

           name answer_count views  old_answer  new_answer reputation
14  Pooja Dubey            5  1162  1442817572  1660828477        673

In [9]:
#Buscando personas con respuestas no contestadas
answered = df[df['answer_count'] == 0]
answered

            name answer_count views  old_answer  new_answer reputation
1          larry            0    22  1660937182  1660947881          1
23  Ahmed Asakra            0    47  1660735644  1660757037         19
25   user2058738            0    43  1660721728  1660722812        339

In [10]:
#Buscando respuestas con menos vistas
views = df[df['views'] < 30]
views

      name answer_count views  old_answer  new_answer reputation
1    larry            0    22  1660937182  1660947881          1
11  Austin            1    28  1660869750  1660876114         23

In [11]:
#Buscando la respuesta mas vieja
old_answer = df[df['old_answer'] < 1270000000]
old_answer

     name answer_count  views  old_answer  new_answer reputation
28  Space            4  10651  1268735362  1660671367       6849

In [12]:
#Buscando la respuesta mas nueva
new_answer = df[df['new_answer'] > 1660950000]
new_answer

    name answer_count views  old_answer  new_answer reputation
0  Anand            3  5739  1447853895  1660951129        353

In [13]:
#Buscando la respuesta con mas reputacion
reputation = df[df['reputation'] > 70000]
reputation

           name answer_count views  old_answer  new_answer reputation
3  Evan Carroll            2    85  1660940419  1660943277      73009

#SEGUNDO

In [42]:
#Cargando la base de datos creada con SQLite3
from google.colab import files 
import sqlite3
import io
upload = files.upload()

Saving segundo.db to segundo (1).db

In [43]:
#Conectando con la base de datos
db = sqlite3.connect("segundo.db")

In [44]:
#Imprimir las tablas 
#FORMATO 1
#response =db.execute('SELECT * FROM Aerolineas')
#for row in response:
#  print(row)
#FORMATO 2
qry = """

SELECT * FROM Aerolineas

"""
df = pd.read_sql_query(qry, db)
df.head()

   ID_Aerolinea Nombre_Aerolinea
0             1          Volaris
1             2          Aeromar
2             3        Intertjet
3             4       Aeromexico

In [45]:
qry = """

SELECT * FROM Aeropuertos

"""
df = pd.read_sql_query(qry, db)
df.head()

   ID_Aeropuertos Nombre_Aeropuertos
0               1      Benito Juarez
1               2         Guanajuato
2               3             La Paz
3               4             Oaxaca

In [46]:
qry = """

SELECT * FROM Movimientos

"""
df = pd.read_sql_query(qry, db)
df.head()

   ID_Movimiento Descripcion
0              1      Salida
1              2     Entrada

In [52]:
qry = """

SELECT * FROM Vuelos

"""
df = pd.read_sql_query(qry, db)
df

   ID_Aerolinea  ID_Aeropuerto  ID_Movimiento         Dia
0             1              1              1  2021-05-02
1             2              1              1  2021-05-02
2             3              2              2  2021-05-02
3             4              3              2  2021-05-02
4             1              3              2  2021-05-02
5             2              1              1  2021-02-02
6             2              3              1  2021-05-04
7             3              4              1  2021-05-04
8             3              4              1  2021-05-04