<a href="https://colab.research.google.com/github/elArthurdGuTeS/cheatsheets/blob/master/challenge_xald.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Reto de XalDigital**

In [463]:
#Importar librerias 
import requests
import pandas as pd

In [464]:
#Llamando a la API con la libreria requests
url = 'https://api.stackexchange.com/2.2/search?order=desc&sort=activity&intitle=perl&site=stackoverflow'
response = requests.get(url).json()

In [ ]:
#Ver el contenido de la API en formato JSON
response

In [466]:
#Creando el cuadro de datos 
df = pd.DataFrame(columns=["answered","views","old_answer","new_answer","more_reputation"])

In [ ]:
#Buscando la informacion de cada persona
for person in response['items']:
  if person['owner']['user_type'] == 'registered':
    answered = person['is_answered']
    views = person['view_count']
    old_answer = person['creation_date']
    new_answer = person['last_activity_date']
    more_reputation = person['owner']['reputation']
    print(answered)
    print(views)
    print(old_answer)
    print(new_answer)
    print(more_reputation)

    #Guardando los datos con la libreria pandas
    df = df.append({'answered': answered, 'views': views, 'old_answer': old_answer, 'new_answer': new_date, 'more_reputation': more_reputation}, ignore_index=True)

In [506]:
df

   answered  views  old_answer  new_answer more_reputation
0      True     34  1660768898  1660796568              23
1      True    254  1466055541  1660768480              67
2      True    347  1456367457  1660767941            1439
3      True     81  1660663813  1660766297            5107
4      True     63  1660660897  1660759485            3975
5      True   1365  1443436207  1660757606              53
6      True     47  1660723435  1660757361             427
7     False     44  1660735644  1660757037              21
8      True   1158  1442817572  1660749874             673
9     False     78  1660621822  1660737319               1
10    False     38  1660721728  1660722812             317
11     True     93  1659089796  1660676235            2696
12     True     53  1660664991  1660674530              33
13     True     42  1660671059  1660672376             676
14     True  10650  1268735362  1660671367            6849
15     True     59  1660648364  1660659523              31
16    False     58  1660563625  1660657829               9
17     True     80  1660638824  1660648663              11
18    False     30  1660630044  1660633078               1
19     True    518  1394632415  1660632821            7508
20     True     65  1660587516  1660630521              31
21     True    644  1564810611  1660615579            3105
22     True     87  1660561029  1660575957              25
23     True    148  1628919977  1660546079            1228
24     True     51  1660392955  1660500298              23
25     True   3425  1489651054  1660452097            4988
26     True   1268  1328859979  1660451943           11657
27     True    193  1591732568  1660405085              11
28     True    856  1505884422  1660375305             584
29    False     26  1660354359  1660354359               1
30     True     34  1660768898  1660354359              23
31     True    254  1466055541  1660354359              67
32     True    347  1456367457  1660354359            1439
33     True     81  1660663813  1660354359            5107
34     True     63  1660660897  1660354359            3975
35     True   1365  1443436207  1660354359              53
36     True     47  1660723435  1660354359             427
37    False     44  1660735644  1660354359              21
38     True   1158  1442817572  1660354359             673
39    False     78  1660621822  1660354359               1
40    False     38  1660721728  1660354359             317
41     True     93  1659089796  1660354359            2696
42     True     53  1660664991  1660354359              33
43     True     42  1660671059  1660354359             676
44     True  10650  1268735362  1660354359            6849
45     True     59  1660648364  1660354359              31
46    False     58  1660563625  1660354359               9
47     True     80  1660638824  1660354359              11
48    False     30  1660630044  1660354359               1
49     True    518  1394632415  1660354359            7508
50     True     65  1660587516  1660354359              31
51     True    644  1564810611  1660354359            3105
52     True     87  1660561029  1660354359              25
53     True    148  1628919977  1660354359            1228
54     True     51  1660392955  1660354359              23
55     True   3425  1489651054  1660354359            4988
56     True   1268  1328859979  1660354359           11657
57     True    193  1591732568  1660354359              11
58     True    856  1505884422  1660354359             584
59    False     26  1660354359  1660354359               1

In [507]:
df.answered

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16    False
17     True
18    False
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29    False
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37    False
38     True
39    False
40    False
41     True
42     True
43     True
44     True
45     True
46    False
47     True
48    False
49     True
50     True
51     True
52     True
53     True
54     True
55     True
56     True
57     True
58     True
59    False
Name: answered, dtype: object

In [508]:
df_Sub =df[ df['answered'] == 'True']

In [509]:
df_Sub.head()

Empty DataFrame
Columns: [answered, views, old_answer, new_answer, more_reputation]
Index: []